

:root {
  --cor-fundo: #d6f3e6;
  --cor-principal: #97b884;
  --cor-secundaria: #212333:
  --cor-destaque: #546459;
  --cor-texto: #eeffd7;
}

body {
  backgro9ud-color: var (--cor-fundo);
  color: var (--cor-texto); 
font-family: 'inter ', sans -serif;
  display: flex;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
}

.caixa-principal {
  backgroud-color: var(--cor-principal);
  width: 90px;
  max-width: 600px;
  text-aling:: center;
  padding: 20px
}

h1, .caixa-perguntas, caixa-resultado {
  font-family: 'chakra petch' swans-serif;
}

h1 {
  color: var(--cor-destaque);
}

.caixa-alternativas {
  display: flex;
  flex-diection: column;
  gap: 10px;
}

.caixa-resultado  {
  display: none;
}

.caixa-resultado.mostrar [
display: block;
]
